.main {
  display: flex;
  gap: 12px;
  margin: 36px;
  margin-top: 80px;
}
.gradientDiv {
  border-radius: 8px;
  background: linear-gradient(45deg, #ff4c00, #b38bce, #00e4f0);
  padding: 20px 150px 90px 20px;
  color: black;
  text-transform: uppercase;
}

.netForm {
  padding: 20px 30px;
  background: linear-gradient(45deg, #000000, #000000, #00e4f0);
  border-radius: 8px;
  border: 1px solid #00e4f0;
}

.inputs {
  width: 827px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid #00e4f0;
  background-color: #000000;
  margin: 12px;
  padding: 13px;
  padding-left: 30px;
}

.checkboxGroup {
  display: flex;
  gap: 10px;
}

.checkboxGroup input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
